<!DOCTYPE html>
<html lang="eng">

<!-- <script>
    var xhr = new XMLHttpRequest();
    xhr.onreadystatechange = function(){
        if (this.readyState == 4 && this.status == 200){
            this.responseText;
        }
    }
    xhr.open("POST");
    xhr.send("body")

</script> -->

<head>
    <title>Can Tic</title>
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../static/js/scripts.js" defer async></script>
</head>

<body>
    <header class="w3-container">
        <a href="#"><img src="../static/img/logo.png" alt="Home" width="100px" class="w3-image" id="logo"></a>
        <h1 class="w3-text w3-lobster">La nostra carta</h1>
    </header>
    <nav class="w3-bar">
        <a href="#entrants" , class="w3-bar-item">Entrants</a>
        <a href="#primers" , class="w3-bar-item">Primers plats</a>
        <a href="#segons" , class="w3-bar-item">Segons plats</a>
        <a href="#postres" , class="w3-bar-item">Postres</a>
    </nav>

    <div class="break"></div>

    <div class="all">
        <a name="entrants"></a>
        <div class=" w3-margin n_plat zoom">
            <div class="hover" onclick="toggle('carta-entrants')">
                <h2 class="w3-lobster card-title w3-display-container">
                    Entrants
                    <img class="w3-display-right w3-padding"
                        src="https://img.icons8.com/external-those-icons-lineal-color-those-icons/24/000000/external-arrow-arrows-those-icons-lineal-color-those-icons-1.png" />

                </h2>
            </div>
            <div id="carta-entrants" style="display: none;"">
                {% for entrant in entrants %}
                <article class=" w3-container menu-item changebg">
                <h3 class="dish-name">{{ entrant[1] }}</h3>
                <p class="dish-price">{{ entrant[3] }}</p>
                <p class="dish-desc">{{ entrant[2] }}</p>
                {% if entrant[4] %}
                <img src="../static/img/hamburguesa.jpg" alt="{{entrant[1]}}" width=100px class="dish-img">
                {% endif %}
                <button class=" w3-xlarge w3-circle dish-button"
                    onclick="add_product('{{entrant[1]}}', '{{entrant[3]}}')">+</button>

                </article>
                {% endfor %}
            </div>
        </div>

        <a name="primers"></a>
        <div class=" w3-margin n_plat zoom">
            <div class="hover" onclick="toggle('carta-primers')">
                <h2 class="w3-lobster card-title w3-display-container">
                    Primers plats
                    <img class="w3-display-right w3-padding"
                        src="https://img.icons8.com/external-those-icons-lineal-color-those-icons/24/000000/external-arrow-arrows-those-icons-lineal-color-those-icons-1.png" />

                </h2>
            </div>

            <div id="carta-primers" style="display: none;"">
                {% for primer in primers %}
                <article class=" w3-container menu-item changebg">
                <h3 class="dish-name">{{ primer[1] }}</h3>
                <p class="dish-price">{{ primer[3] }}</p>
                <p class="dish-desc">{{ primer[2] }}</p>
                {% if primer[4] %}
                <img src="../static/img/hamburguesa.jpg" alt="{{primer[1]}}" width=100px class="dish-img">
                {% endif %}
                <button class=" w3-xlarge w3-circle dish-button"
                    onclick="add_product('{{primer[1]}}', '{{primer[3]}}')">+</button>

                </article>
                {% endfor %}
            </div>
        </div>

        <a name="segons"></a>
        <div class=" w3-margin n_plat zoom">
            <div class="hover" onclick="toggle('carta-segons')">
                <h2 class="w3-lobster card-title w3-display-container">
                    Segons plats
                    <img class="w3-display-right w3-padding"
                        src="https://img.icons8.com/external-those-icons-lineal-color-those-icons/24/000000/external-arrow-arrows-those-icons-lineal-color-those-icons-1.png" />

                </h2>
            </div>

            <div id="carta-segons" style="display: none;"">
                {% for segon in segons %}
                <article class=" w3-container menu-item changebg">
                <h3 class="dish-name">{{ segon[1] }}</h3>
                <p class="dish-price">{{ segon[3] }}</p>
                <p class="dish-desc">{{ segon[2] }}</p>
                {% if segon[4] %}
                <img src="../static/img/hamburguesa.jpg" alt="{{segon[1]}}" width=100px class="dish-img">
                {% endif %}
                <button class=" w3-xlarge w3-circle dish-button"
                    onclick="add_product('{{segon[1]}}', '{{segon[3]}}')">+</button>

                </article>
                {% endfor %}
            </div>
        </div>

        <a name="postres"></a>
        <div class=" w3-margin n_plat zoom">
            <div class="hover" onclick="toggle('carta-postres')">
                <h2 class="w3-lobster card-title w3-display-container">
                    Postres
                    <img class="w3-display-right w3-padding"
                        src="https://img.icons8.com/external-those-icons-lineal-color-those-icons/24/000000/external-arrow-arrows-those-icons-lineal-color-those-icons-1.png" />

                </h2>
            </div>

            <div id="carta-postres" style="display: none;"">
                {% for postre in postres %}
                <article class=" w3-container menu-item changebg">
                <h3 class="dish-name">{{ postre[1] }}</h3>
                <p class="dish-price">{{ postre[3] }}</p>
                <p class="dish-desc">{{ postre[2] }}</p>
                {% if postre[4] %}
                <img src="../static/img/hamburguesa.jpg" alt="{{postre[1]}}" width=100px class="dish-img">
                {% endif %}
                <button class=" w3-xlarge w3-circle dish-button"
                    onclick="add_product('{{postre[1]}}', '{{postre[3]}}')">+</button>

                </article>
                {% endfor %}
            </div>
        </div>

        <section class="w3-container basket w3-margin">
            <header class="w3-display-container w3-padding-16">
                <h3 class="w3-lobster w3-display-left" style="color: #a64924;font-size: 2rem;">La teva comanda</h3>
                <h3 id="total-price" class="w3-display-right money">0</h3>
            </header>
            <form action="" method="post">
                <div class="w3-container w3-center" style="margin-top:10px; padding-left: 0px;padding-right: 0px;">
                    <p><button type="submit" class="w3-button w3-round-xxlarge pay_button">Pagar</button></p>
                </div>
                <div id="basket-products" class="w3-container basket-content">
                </div>

            </form>
        </section>
        {% if msg %}
        <div class="w3-panel w3-green">
            <h3>Success!</h3>
            <p>{{ msg }}</p>
        </div>
        {% endif %}
    </div>

    <div class="break"></div>

    <footer class="w3-container">
        <p>Autors: Jaume, Jordi, Marti</p>
        <p><a href="cantic@example.com">contacte@cantic.com</a></p>
    </footer>
</body>

</html>